<form class="form-inline">
  <div class="form-group">
    <label>Bring something:</label>

    <label class="sr-only" for="item-person">Person</label>
    <select id="item-person" class="form-control" onchange={{action 'personIdChanged' value='target.value'}}>
      <option></option>
      {{#each trip.people as |person|}}
        <option value={{person.id}}>{{person.name}}</option>
      {{/each}}
    </select>
  </div>

  <div class="form-group">
    <label class="sr-only" for="item-contents">Item</label>
    {{input id="item-contents" class="form-control" type="text" value=itemValue}}
  </div>

  <div class="form-group">
    <button class="btn btn-primary" {{action 'add'}}>Add</button>
  </div>
</form>
